################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GameLibrarian/bin/Debug
/.vs/GameLibrarian/v15/Server/sqlite3
/.vs/GameLibrarian/v15
